<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

	<servlet>
		<servlet-name>ThirdServlet</servlet-name>
		<servlet-class>servlet.ThirdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThirdServlet</servlet-name>
		<url-pattern>/ThirdServlet</url-pattern>

	</servlet-mapping>
</web-app>